u {
  text-decoration: #10b981 underline !important;
}

.vp-doc a {
  text-decoration-style: unset;
}

.bunpu-block {
  padding: 20px;
  border-radius: 8px;
  background: #161618;
}

.grammer-container-inline {
  margin: 0 !important;
  line-height: 14px !important;
}