u {
  text-decoration: #10b981 underline !important;
}

.vp-doc a {
  text-decoration-style: unset;
}

.bunpou-block {
  padding: 20px;
  border-radius: 8px;
  background: rgba(60, 60, 67, 0.15);
}

.dark .bunpou-block {
  background: #161618;
}

.grammer-container>div:first-child {
  display: flex;
  align-items: flex-start;
}

.grammer-container>div:first-child p {
  margin: 0;
}

li>.grammer-container-inline {
  margin: 0 !important;
}

.grammer-container-inline {
  display: inline-block;
}

.bunpou-speak {
  display: inline-block;
  width: 1.5em;
  margin-top: 2px;
}