u {
  text-decoration: #fb923c underline !important;
}

.vp-doc a {
  text-decoration-style: unset;
}

.bunpou-block {
  padding: 20px;
  border-radius: 8px;
  background: rgba(60, 60, 67, 0.15);
}

.dark .bunpou-block {
  background: #161618;
}

.grammer-container>div:first-child {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.grammer-container>div:first-child p {
  margin: 0;
}

li>.grammer-container-inline {
  margin: 0 !important;
}

.grammer-container-inline {
  display: inline-block;
}

.bunpou-speak {
  display: inline-block;
  width: 1.5em;
  margin-bottom: 2px;
}

.bunpou-speak-box {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.bunpou-loading {
  margin-left: 4px;
}
.bunpou-loading.hidden {
  display: none;
}
.bunpou-loading span {
  display: inline-block;
  width: 2px;
  height: 100%;
  border-radius: 2px;
  background: #fb923c;
  animation: load 1s ease infinite;
  margin: 0 1px;
}
@keyframes load {
  0%,
  100% {
    height: 10px;
  }
  50% {
    height: 20px;
    margin: -5px 1px;
  }
}
.bunpou-loading span:nth-child(2) {
  animation-delay: 0.2s;
}
.bunpou-loading span:nth-child(3) {
  animation-delay: 0.4s;
}
.bunpou-loading span:nth-child(4) {
  animation-delay: 0.6s;
}
.bunpou-loading span:nth-child(5) {
  animation-delay: 0.8s;
}